<div class="col-md-12" ng-controller="CrudStagiairesController">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background: #fff">
            <li class="breadcrumb-item"><a href="/GestionDonnees/Stagiaires"><i class="ri-menu-3-line mr-1 float-left"></i>Stagiaires</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ins.ID_STAGIAIRE ? 'Modifier' : 'Ajouter'}} Stagiaire</li>
        </ol>
    </nav>
    <form name="form" novalidate>
        <div class="row">
            <div class="col-12 col-lg-auto">
                <div class="card">
                    <div class="card-body pt-20 pr-10 pb-20 pl-10">
                        <ul class="nav-pills">
                            <li><a ng-click="GoToStep(1)" ng-class="step == 1?'active':''" class="nav-link nav-user active" href="#"> <span>Identité</span></a></li>
                            <li><a ng-click="GoToStep(2)" ng-class="step == 2?'active':''" class="nav-link nav-user" href="#"> <span>Informations personnelles</span></a></li>
                            <li><a ng-click="GoToStep(3)" ng-class="step == 3?'active':''" class="nav-link nav-user" href="#"> <span>Informations de contact</span></a></li>
                            <li><a ng-click="GoToStep(4)" ng-class="step == 4?'active':''" class="nav-link nav-user" href="#"> <span>Statut</span></a></li>
                            <li><a ng-click="GoToStep(5)" ng-class="step == 5?'active':''" class="nav-link nav-user" href="#"> <span>Information financeurs</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8 step" ng-show="step == 1">
                <div class="card">
                    <div class="card-body">
                        <div class="row  justify-content-end">
                            <div class="col-12">
                                <label>Photo</label>
                                <a class="rui-profile-photo" href="#" ng-click="ClickUpload('logo-rui')">
                                    <img  class="avatar-130 img-fluid logo-rui" style="border-radius: 50%" ng-src="{{PHOTO?PHOTO:ins.PHOTO?'public/uploads/users/stagiaires/'+ins.PHOTO:'resources/assets/images/avatar-1-profile.png'}}" alt="">
                                </a>
                                <input class="d-none" id="logo-rui" type="file" file-input input="ins.PHOTO" preview="PHOTO" accept=".jpg, .jpeg, .png"/>
                            </div>

                            <div class="col-md-12">
                                <label for="civilite">Civilité</label>
                                <select ng-model="ins.CIVILITE" class="custom-select" id="civilite">
                                    <option value="0">--</option>
                                    <option ng-repeat="civ in liste_civilites track by $index" ng-value="civ.CIVILITE">{{civ.TITRE}}</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label for="nom">Nom</label>
                                <input ng-model="ins.NOM" type="text" class="form-control" id="nom" placeholder="Nom de famille">
                            </div>
                            <div class="col-md-12">
                                <label for="prenom">Prénom</label>
                                <input ng-model="ins.PRENOM" type="text" class="form-control" id="prenom" placeholder="Prénom">
                            </div>
                            <div class="col-md-12">
                                <label for="email">Email <span>*</span></label>
                                <input name="email" ng-model="ins.EMAIL" type="email" name="email" class="form-control" id="email"  placeholder="Email" >
                                <div ng-show="form.email.$touched && form.$error.email"  class="alert alert-danger" role="alert" style="color:#7c2a34;padding: 0px 0px;">
                                    <ul class="parsley-errors-list error" >
                                        <li  class="parsley-required">Veuillez entrer un email.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="organisme">Organisme <span>*</span></label>
                                <select name="organisme" ng-model="ins.ID_ORGANISME" class="custom-select" id="organisme" required>
                                    <option value="">Organisme</option>
                                    <option ng-repeat="org in liste_organismes track by $index" ng-value="org.ID_ORGANISME">{{org.NOM}}</option>
                                </select>
                                <div ng-show="(form.$submitted || form.organisme.$touched) && form.organisme.$error.required"  class="alert alert-danger" role="alert" style="color:#7c2a34;padding: 0px 0px;">
                                    <ul class="parsley-errors-list error" >
                                        <li  class="parsley-required">Veuillez selectionner un organisme.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="col-auto float-right">
                            <button class="btn btn-primary" type="button" ng-click="GoToStep(2)">Suivant</button>
                            <div class="col-auto float-right"><button class="btn btn-primary" type="submit" ng-click="form.$valid?Save():step=1">Enregistrer</button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8 step" ng-show="step == 2">
                <div class="card">
                    <div class="card-body">
                        <div class="row  justify-content-end">
                            <div class="col-md-6">
                                <label for="nationalite">Nationalité</label>
                                <input ng-model="ins.NATIONALITE" type="text" class="form-control" id="nationalite" placeholder="Nationalité">
                            </div>
                            <div class="col-md-6">
                                <label for="nom_naiss">Nom de naissance</label>
                                <input ng-model="ins.NOM_NAISS" type="text" class="form-control" id="nom_naiss" placeholder="Nom de naissance">
                            </div>
                            <div class="col-md-4">
                                <label for="ville_naiss">Ville de naissance</label>
                                <input ng-model="ins.VILLE_NAISS" type="text" class="form-control" id="ville_naiss" placeholder="Ville de naissance">
                            </div>
                            <div class="col-md-4">
                                <label for="region_naiss">Region de naissance</label>
                                <input ng-model="ins.REGION_NAISS" type="text" class="form-control" id="region_naiss" placeholder="Region de naissance">
                            </div>
                            <div class="col-md-4">
                                <label for="date_naiss">Date de naissance</label>
                                <input ng-model="ins.DATE_NAISS" type="date" class="form-control" id="date_naiss">
                            </div>


                        </div>
                    </div>
                     <div class="card-footer">
                            <div class="col-auto float-left"><button class="btn btn-primary-light" type="button" ng-click="GoToStep(1)">Précédent</button></div>
                            <div class="col-auto float-right"><button class="btn btn-primary" type="button" ng-click="GoToStep(3)">Suivant</button></div>
                         <div class="col-auto float-right"><button class="btn btn-primary" type="submit" ng-click="form.$valid?Save():step=1">Enregistrer</button></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8 step" ng-show="step == 3">
                <div class="card">
                    <div class="card-body">
                        <div class="row  justify-content-end">
                            <div class="col-md-12">
                                <label for="langue">Langue dans l'extranet</label>
                                <select ng-model="ins.ID_LANGUE" class="custom-select" id="langue">
                                    <option value="0">--</option>
                                    <option ng-repeat="lng in liste_langues track by $index" ng-value="lng.ID_LANGUE">{{lng.TITRE}}</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="adresse">Adresse</label>
                                <input ng-model="ins.ADRESSE" type="text" class="form-control" id="adresse" placeholder="Adresse">
                            </div>
                            <div class="col-md-6">
                                <label for="zip">Code postal</label>
                                <input ng-model="ins.ZIP" type="text" class="form-control" id="zip" placeholder="Code postal">
                            </div>
                            <div class="col-md-6">
                                <label for="ville">Ville</label>
                                <input ng-model="ins.VILLE" type="text" class="form-control" id="ville" placeholder="Ville">
                            </div>
                            <div class="col-md-6">
                                <label for="pays">Pays</label>
                                <input ng-model="ins.PAYS" type="text" class="form-control" id="pays" placeholder="Pays">
                            </div>
                            <div class="col-md-6">
                                <label for="telephone">Téléphone</label>
                                <input ng-model="ins.TELEPHONE" type="text" class="form-control" id="telephone" placeholder="Téléphone">
                            </div>
                            <div class="col-md-6">
                                <label for="telephone2">Téléphone secondaire</label>
                                <input ng-model="ins.TELEPHONE_2" type="text" class="form-control" id="telephone2" placeholder="Téléphone secondaire">
                            </div>


                        </div>
                    </div>
                     <div class="card-footer">
                            <div class="col-auto float-left"><button class="btn btn-primary-light" type="button" ng-click="GoToStep(2)">Précédent</button></div>
                            <div class="col-auto float-right"><button class="btn btn-primary" type="button" ng-click="GoToStep(4)">Suivant</button></div>
                         <div class="col-auto float-right"><button class="btn btn-primary" type="submit" ng-click="form.$valid?Save():step=1">Enregistrer</button></div>
                    </div>
                </div>

            </div>
            <div class="col-12 col-lg-8 step" ng-show="step == 4">
                <div class="card">
                    <div class="card-body">

                        <div class="row  justify-content-end">
                            <div class="col-md-6">
                                <label for="statut">Statut</label>
                                <select id="statut" ng-model="ins.STATUT" class="custom-select">
                                    <option value="0">--</option>
                                    <option ng-repeat="st in liste_statuts track by $index" ng-value="st.ID_STATUT">{{st.TITRE}}</option>

                                </select>

                            </div>
                            <div class="col-md-6">
                                <label for="client">Client</label>
                                <select id="client" ng-model="ins.ID_CLIENT" class="custom-select">
                                    <option ng-value="0">--</option>
                                    <option ng-repeat="clt in liste_clients track by $index" ng-value="clt.ID_CLIENT">{{clt.NOM}} ({{clt.TYPE_TITRE}})</option>
                                </select>

                            </div>
                            <div class="col-md-12">
                                <label for="fonction">Fonction</label>
                                <input ng-model="ins.FONCTION" type="text" class="form-control" id="fonction" placeholder="Fonction">
                            </div>

                            <div class="col-md-12">
                                <label for="note">Notes libres</label>
                                <textarea ng-model="ins.NOTES" type="text" class="form-control" id="note" placeholder="Notes libres<"></textarea>
                            </div>

                            <div class="col-md-4">
                                <label for="mention">Mention à ajouter dans les documents</label>
                                <input ng-model="ins.MENTION" type="text" class="form-control" id="mention" placeholder="Mention à ajouter dans les documents">
                            </div>

                            <div class="col-md-4">
                                <label for="compte">N° de compte client en comptabilité</label>
                                <input ng-model="ins.NUM_COMPTE_CLIENT" type="text" class="form-control" id="compte" placeholder="N° de compte client en comptabilité">
                            </div>
                            <div class="col-md-4">
                                <label for="num_tva">N° de compte TVA en comptabilité</label>
                                <input ng-model="ins.NUM_COMPTE_TVA" type="text" class="form-control" id="num_tva" placeholder="N° de compte TVA en comptabilité">
                            </div>


                        </div>
                    </div>
                     <div class="card-footer">
                            <div class="col-auto float-left"><button class="btn btn-primary-light" type="button" ng-click="GoToStep(3)">Précédent</button></div>
                            <div class="col-auto float-right"><button class="btn btn-primary" type="button" ng-click="GoToStep(5)">Suivant</button></div>
                         <div class="col-auto float-right"><button class="btn btn-primary" type="submit" ng-click="form.$valid?Save():step=1">Enregistrer</button></div>
                    </div>
                </div>

            </div>
            <div class="col-12 col-lg-8 step" ng-show="step == 5">
                <div class="card">
                    <div class="card-body">
                        <div class="col-12">
                            <div class="row  justify-content-end">
                                <div class="col-md-6">
                                    <label for="sec">N° sécurité sociale</label>
                                    <input ng-model="ins.NUM_SEC" type="text" class="form-control" id="sec" placeholder="N° sécurité sociale">
                                </div>
                                <div class="col-md-6">
                                    <label for="categ">Catégorie socio-professionnelle</label>
                                    <input ng-model="ins.CATEG_SOC" type="text" class="form-control" id="categ" placeholder="Catégorie socio-professionnelle">
                                </div>
                                <div class="col-md-6">
                                    <label for="nature">Nature du contrat de travail</label>
                                    <input ng-model="ins.NATURE_CONTRAT_TRAV" type="text" class="form-control" id="nature" placeholder="Nature du contrat de travail">
                                </div>
                                <div class="col-md-6">
                                    <label for="salaire">Salaire horaire brut</label>
                                    <input ng-model="ins.SALAIRE_HORAIRE_BRUT" type="text" class="form-control" id="salaire" placeholder="Salaire horaire brut">
                                </div>
                                <div class="col-md-12">
                                    <div class="custom-control custom-checkbox">
                                        <input ng-true-value="1"  ng-false-value="0" ng-model="ins.HANDICAP" type="checkbox" class="custom-control-input" id="customCheck5">
                                        <label class="custom-control-label customCheck1" for="customCheck5"> Reconnaissance travailleur handicapé</label>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                     <div class="card-footer">
                        <div class="col-auto float-left"><button class="btn btn-primary-light" type="button" ng-click="GoToStep(4)">Précédent</button></div>
                        <div class="col-auto float-right"><button class="btn btn-primary" type="submit" ng-click="form.$valid?Save():step=1">Enregistrer</button></div>
                    </div>
                </div>

            </div>

        </div>
    </form>

</div>
<style>
    .step.ng-hide {
        opacity: 0;
    }
    .step:not(.ng-hide)  {
        -webkit-transition: opacity .9s linear;
        -o-transition: opacity .9s linear;
        transition: opacity .9s linear
    }

    @media (prefers-reduced-motion:reduce) {
        .fade:not(.ng-hide) {
            -webkit-transition: none;
            -o-transition: none;
            transition: none
        }
    }
    .alert.ng-hide {
        opacity: 0;
    }
    .alert:not(.ng-hide)  {
        -webkit-transition: opacity .9s linear;
        -o-transition: opacity .9s linear;
        transition: opacity .9s linear
    }

    @media (prefers-reduced-motion:reduce) {
        .alert:not(.ng-hide) {
            -webkit-transition: none;
            -o-transition: none;
            transition: none
        }
    }
    .pickr .pcr-button {
        width: 15em;
    }
    .customCheck1{
        cursor: pointer;
    }
    .rui-profile .rui-profile-img img {
        width: 100px;
        height: 100px;
        font-family: "object-fit: cover";
        -o-object-fit: cover;
        object-fit: cover;
    }
</style>
