<div class="col-md-12" ng-controller="ListeClientsController">
    <div class="col-md-12 bg-white py-2 my-2">
        <div class="row">
            <div class="col-md-6">
                <div class="iq-search-bar">
                    <div class="searchbox" style="width: 100%">
                        <input type="text" class="text search-input" ng-change="infiniteLimit = 5"
                               placeholder="Recherche clients..."
                               ng-model="search">
                        <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <button ng-click="GoTo('GestionDonnees/AjoutClients')" type="button" class="float-right btn btn-primary" >
                    <i class="ri-user-add-line mr-2"></i> Ajouter un clients
                </button>
                <button type="button" class="float-right btn btn-light" style="cursor:auto">
                    <i class="ri-computer-line br-2"></i>
                    {{ searched.length }} clients
                </button>
            </div>
        </div>
    </div>


    <div infinite-scroll="loadMore()" class="row">
        <div class="col-md-4" ng-repeat="client in  searched = (liste_data|filter:search)| orderBy: '-DATE'| limitTo:infiniteLimit">
            <div class="iq-card" style="cursor: pointer;padding: 0;" >
                <div class="iq-card-body" style="box-shadow: 0 2px 8px #bcbcbc;border-radius: 15px;">
                    <div class="bg-primary p-3 rounded d-flex align-items-center justify-content-between mb-3" style="background-color: rgb(255 255 255 / 38%) !important;">
                        <div style="background:url({{client.PHOTO?'public/uploads/users/clients/'+client.PHOTO:'public/uploads/default.png'}});width: 50px;height: 50px;background-size: cover;background-repeat: no-repeat;border-radius: 50%;"></div>
                        <h5 class="text-white">{{ client.NOM }} {{ client.PRENOM }}</h5>
                        <div>
                            <i style="cursor: pointer" tooltip-placement="top" uib-tooltip="Modifier" ng-click="$event.stopPropagation();Edit(client.ID_CLIENT)" class="ri-ball-pen-line font-size-18" role="button" tabindex="0"></i>
                            <i style="cursor: pointer" tooltip-placement="top" uib-tooltip="Supprimer" ng-click="$event.stopPropagation();Delete(client.ID_CLIENT)" class="ri-close-circle-line font-size-18 ml-2" role="button" tabindex="0"></i>
                        </div>

                    </div>
                    <div class="row">
                        <p class="font-size-12 mb-0 col-md-6"><b style="display: inline-flex;"><i class="ri-calendar-2-line mr-1"></i> Organisme</b><br><span class="span-header">{{ client.NOM_ORGANISME }}</span></p>
                        <p class="font-size-12 mb-0 col-md-6"><b style="display: inline-flex;"><i class="ri-community-line mr-1"></i> Email </b><br><span class="span-header"> {{ client.EMAIL }}</span></p>
                        <p class="font-size-12 mb-0 col-md-6"><b style="display: inline-flex;"><i class="ri-community-line mr-1"></i> Téléphone </b><br><span class="span-header"> {{ client.TELEPHONE }}</span></p>
                        <p class="font-size-12 mb-0 col-md-6"><b style="display: inline-flex;"><i class="ri-calendar-event-line mr-1"></i> Adresse service</b><br><span class="span-header">{{client.ADRESSE}}</span></p>
                    </div>
                </div>

            </div>
        </div>

    </div>
<!--    <div infinite-scroll="loadMore()">-->
<!--        <folder ng-repeat="client in  searched = (liste_data|filter:search)| orderBy: '-DATE'| limitTo:infiniteLimit" data="client" template-url="app/Modules/ClientsModules/Resources/views/folder-clients.html"  methods="folderMethodes"></folder>-->
<!--    </div>-->
</div>
