<div class="col-md-12" ng-controller="ListeProgrammesController">
    <div id="send-loading" style="display: none">
        <div class="send-loading">
            <div class="shape shape-1"></div>
            <div class="shape shape-2"></div>
            <div class="shape shape-3"></div>
            <div class="shape shape-4"></div>
        </div>
    </div>
    <div class="col-md-12 bg-white py-2 my-2">
        <div class="row">
            <div class="col-md-8">
                <div class="iq-search-bar">
                    <div class="searchbox" style="width: 100%">
                        <input type="text" class="text search-input" ng-change="infiniteLimit = 5"
                               placeholder="Recherche programmes..."
                               ng-model="search">
                        <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <button ng-click="GoTo('/Bibliotheque/Programmes/Ajout')" type="button" class="float-right btn btn-primary" >
                    <i class="ri-user-add-line mr-2"></i> Ajouter un programme
                </button>
            </div>
        </div>
    </div>


    <div infinite-scroll="loadMore(searched,infiniteLimit)" class="row">
        <div class="col-md-4" ng-repeat="programme in  searched = (liste_data|filter:search)| orderBy: '-DATE'| limitTo:infiniteLimit">
            <div class="iq-card" style="cursor: pointer;padding: 0;" >
                <div class="iq-card-body" style="box-shadow: 0 2px 8px #bcbcbc;border-radius: 15px;">
                    <div class="bg-primary p-3 rounded d-flex align-items-center justify-content-between mb-3" style="background-color: rgb(255 255 255 / 38%) !important;">
                        <h5 class="text-white">{{ programme.TITRE }}</h5>
                        <div>
                            <i style="cursor: pointer" tooltip-placement="top" uib-tooltip="Modifier" ng-click="$event.stopPropagation();Edit(programme.ID_SALLE)" class="ri-ball-pen-line font-size-18" role="button" tabindex="0"></i>
                            <i style="cursor: pointer" tooltip-placement="top" uib-tooltip="Supprimer" ng-click="$event.stopPropagation();Delete(programme.ID_SALLE)" class="ri-close-circle-line font-size-18 ml-2" role="button" tabindex="0"></i>
                        </div>

                    </div>
                    <div class="row">
                        <p class="font-size-12 mb-0 col-md-6">
                            <b style="display: inline-flex;">
                                <i class="ri-calendar-2-line mr-1"></i> Référence</b>
                            <br>
                            <span class="span-header">{{ programme.REF }}</span>
                        </p>
                        <p class="font-size-12 mb-0 col-md-6">
                            <b style="display: inline-flex;">
                                <i class="ri-community-line mr-1"></i> Certification
                            </b>
                            <br>
                            <span class="span-header"> {{ programme.CERTIFICATION }}</span>
                        </p>
                        <p class="font-size-12 mb-0 col-md-6">
                            <b style="display: inline-flex;">
                                <i class="ri-community-line mr-1"></i> Durée de validité
                            </b>
                            <br>
                            <span class="span-header"> {{ programme.VALIDITE?programme.VALIDITE+' Année(s)':'' }}</span>
                        </p>
                        <p class="font-size-12 mb-0 col-md-6">
                            <b style="display: inline-flex;">
                                <i class="ri-calendar-event-line mr-1"></i> Modalités d'obtention
                            </b>
                            <br>
                            <span class="span-header">{{programme.OBTENTION}}</span>
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </div>
<!--    <div class="row">-->
<!--        <div class="col-md-12">-->
<!--            <div infinite-scroll="loadMore(searched,infiniteLimit)" class="scroll-list">-->
<!--                <folder ng-click="Gerer(programme.ID_PROGRAMME)" ng-repeat="programme in  searched = (liste_data|filter:search)| orderBy: '-DATE'| limitTo:infiniteLimit" data="programme" template-url="app/Modules/ProgrammesModule/Resources/views/folder-programmes.html"  methods="folderMethodes"></folder>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->



</div>
<style>
    .scroll-list {
        max-height: 60vh;
        overflow: hidden auto;
    }
    .searchFilter.active{
        background: rgb(250 250 250) !important;
        color: rgb(0 0 0) !important;
        border: 1px solid #dbdbdb !important;
    }
    .send-loading {
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 15px;
        -webkit-animation: rotation 1s infinite;
        animation: rotation 1s infinite;
        left: 50%;
        top: 33%;
    }
</style>
