<div class="col-md-12" ng-controller="CrudDatesModulesController">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background: #fff">
            <li class="breadcrumb-item"><a href="/Sessions/{{module.ID_SESSION}}"><i class="ri-menu-3-line mr-1 float-left"></i>Sessions</a></li>
            <li class="breadcrumb-item"><a href="/Sessions/{{module.ID_SESSION}}/Modules"><i class="ri-menu-3-line mr-1 float-left"></i>Modules</a></li>
            <li class="breadcrumb-item active" aria-current="page">Gérer Modules Date&Prix</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-12">
                        <label>Module</label>
                        <p ng-bind="module.NOM">
                    </div>
                </div>
            </div>
            <uib-accordion close-others="true">
                <div uib-accordion-group class="mt-1" heading="Dates" is-open="true" template-url="app/Modules/SessionsModule/Resources/views/accordion_dates_prix.html">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Description du programme</label>
                                    <p ng-bind-html="programme.DESCRIPTION" ></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div uib-accordion-group class="mt-1" heading="Prix" template-url="app/Modules/SessionsModule/Resources/views/accordion_dates_prix.html">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <ul  class="col-md-12">
                                    <li ng-repeat="objectif in programme.objectifs" class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-1">{{$index+1}}-</div>
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <p ng-bind="objectif.TEXT"  ></p>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </uib-accordion>
        </div>
    </div>
</div>
<style>
    /*.tabs{
        position: relative; width: auto; text-align: center; line-height: 1px; background: rgb(0 0 0); border-radius: 3px; color: rgb(255 255 255); margin-right: 5px; font-size: 12px; padding: 15px; height: 0px; font-weight: 500; border: none;
    }
    .tabs.active{
        background: rgb(250 250 250) !important;
        color: rgb(0 0 0) !important;
        border: 1px solid #dbdbdb !important;
    }*/
    .step.ng-hide {
        opacity: 0;
    }
    .step:not(.ng-hide)  {
        -webkit-transition: opacity .9s linear;
        -o-transition: opacity .9s linear;
        transition: opacity .9s linear
    }

    @media (prefers-reduced-motion:reduce) {
        .fade:not(.ng-hide) {
            -webkit-transition: none;
            -o-transition: none;
            transition: none
        }
    }
    .alert.ng-hide {
        opacity: 0;
    }
    .alert:not(.ng-hide)  {
        -webkit-transition: opacity .9s linear;
        -o-transition: opacity .9s linear;
        transition: opacity .9s linear
    }

    @media (prefers-reduced-motion:reduce) {
        .alert:not(.ng-hide) {
            -webkit-transition: none;
            -o-transition: none;
            transition: none
        }
    }
    .pickr .pcr-button {
        width: 15em;
    }
    .customCheck1{
        cursor: pointer;
    }
    .rui-profile .rui-profile-img img {
        width: 100px;
        height: 100px;
        font-family: "object-fit: cover";
        -o-object-fit: cover;
        object-fit: cover;
    }
    .btn-todo {
        position: relative;
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
        line-height: 1px;
        border-radius: 3px;
        background: rgb(0 0 0);
        color: rgb(255 255 255);
        border: 1px solid #dbdbdb;
        font-size: 12px;
        padding: 15px;
        height: 0px;
        font-weight: 500;
    }
    .btn-todo:hover{
        background: rgb(250 250 250) !important;
        border: none !important;
        color: rgb(0 0 0) !important;
    }
    .handle {
        cursor: move;
        font-size: 30px;
    }
    ul[dnd-list] {
        min-height: 42px;
    }
    ul[dnd-list] .dndDraggingSource {
        display: none;
    }
    ul[dnd-list] .dndPlaceholder {
        display: block;
        background-color: #ddd;
        padding: 10px 15px;
        min-height: 42px;
    }
    .scroll-list {
        max-height: 60vh;
        overflow: hidden auto;
    }
</style>
