<!--<div class="folder">-->
<!--    <div class="folder-summary">-->
<!--        <div class="folder-summary__details" style="min-width: 100%;">-->
<!--            <div class="row ns-block">-->

<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-md-12">-->
<!--                    <div class="folder-summary__details__name title-folder-header">-->

<!--						<h6 class="title-folder">-->
<!--						<span class="user-name">{{ item.NOM }}</span>-->
<!--						</h6>-->

<!--                        <div style="position: relative; float: right; display: flex;">-->
<!--                            <button class="folder-collapse-button btn-ns-description" id="js_folder-collapse-button">-->
<!--								Ajouté {{ item.DATE | date_filter_sh }}-->
<!--                            </button>-->
<!--						</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-3">-->
<!--                    <div class="folder-item__details__name"> Organisme </div>-->
<!--                    <div class="folder-item__details__date">{{ item.NOM_ORGANISME }}</div>-->
<!--                </div>-->
<!--                <div class="col-3">-->
<!--                    <div class="folder-item__details__name"> Client </div>-->
<!--                    <div class="folder-item__details__date">{{ item.NOM_CLIENT?item.NOM_CLIENT:'Aucun client' }}</div>-->
<!--                </div>-->
<!--                <div class="col-3">-->
<!--                    <div class="folder-item__details__name"> Date Debut </div>-->
<!--                    <div class="folder-item__details__date">{{ item.DEBUT }}</div>-->
<!--                </div>-->
<!--                <div class="col-3">-->
<!--                    <div class="folder-item__details__name"> Date Fin </div>-->
<!--                    <div class="folder-item__details__date">{{ item.FIN }}</div>-->
<!--                </div>-->


<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<style>-->
<!--    .item-dropdown.active{-->
<!--        background: #0000006e;-->
<!--        color: #fff;-->
<!--    }-->
<!--    .folder-summary{-->
<!--        height: 130px!important;-->
<!--    }-->

<!--    .folder-item__details__name {-->
<!--        color: #393738;-->
<!--        font-size: .975rem;-->
<!--        font-weight: 500;-->
<!--        position: relative;-->
<!--        display: flex;-->
<!--        align-items: center;-->
<!--    }-->
<!--    .more-btn {-->
<!--        background: none;-->
<!--        border: 0 none;-->
<!--        line-height: normal;-->
<!--        overflow: visible;-->
<!--        -webkit-user-select: none;-->
<!--        -moz-user-select: none;-->
<!--        -ms-user-select: none;-->
<!--        width: 100%;-->
<!--        text-align: left;-->
<!--        outline: none;-->
<!--        cursor: pointer;-->
<!--    }-->

<!--    .more-dot {-->
<!--        background-color: #aab8c2;-->
<!--        display: inline-block;-->
<!--        width: 5px;-->
<!--        height: 5px;-->
<!--        border-radius: 50%;-->
<!--        transition: background-color 0.3s;-->
<!--    }-->


<!--    .more-btn:hover .more-dot,-->
<!--    .show-more-menu .more-dot {-->
<!--        background-color: #516471;-->
<!--    }-->
<!--    .dropdown-toggle::after {-->
<!--        display: none;-->
<!--    }-->

<!--</style>-->
<div class="iq-card " style="cursor: pointer">
    <div class="iq-card-header d-flex justify-content-between pro-task-bg-card" style="padding-top: 15px;">
        <div class="iq-header-title">
            <h5 class="card-title text-muted"><b>{{ item.NOM }}</b></h5>
            <div class="iq-card-header-toolbar d-flex align-items-center">
                <a href="#" class="badge iq-bg-primary mr-2 p-2">
                <h6 class="text-muted">{{ item.DATE | date_filter_sh }}</h6>
                </a>
            </div>

        </div>
<!--        <div class="iq-card-header-toolbar d-flex align-items-center"><a href="#" class="badge iq-bg-primary mr-2 p-2">Low</a></div>-->
    </div>
    <div class="iq-card-body pro-task-bg-card" >
        <div class="row">
            <p class="font-size-12 mb-0 col-md-6"><b style="display: inline-flex;"><i class="ri-community-line mr-1"></i> Organisme</b><br><span class="span-header">{{ item.NOM_ORGANISME }}</span></p>
            <p class="font-size-12 mb-0 col-md-6"><b style="display: inline-flex;"><i class="ri-user-2-line mr-1"></i> Client</b><br><span class="span-header">{{ item.NOM_CLIENT?item.NOM_CLIENT:'Aucun client' }}</span></p>
            <p class="font-size-12 mb-0 col-md-6"><b style="display: inline-flex;"><i class="ri-calendar-2-line mr-1"></i> Debut</b><br><span class="span-header">{{ item.DEBUT | date_filter_fr }}</span></p>
            <p class="font-size-12 mb-0 col-md-6"><b style="display: inline-flex;"><i class="ri-calendar-event-line mr-1"></i> Fin</b><br><span class="span-header">{{ item.FIN | date_filter_fr }}</span></p>
        </div>

        <div class="d-flex justify-content-between">
            <div>
                <i tooltip-placement="top" uib-tooltip="Modifier" ng-click="$event.stopPropagation();methods.Edit(item.ID_SESSION)" class="ri-ball-pen-line font-size-18"></i>
                <i tooltip-placement="top" uib-tooltip="Supprimer" ng-click="$event.stopPropagation();methods.Delete(item.ID_SESSION)" class="ri-close-circle-line font-size-18 ml-2"></i>
            </div>
        </div>
        <div class="progress mt-2" style="height: 4px;">
            <div role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="40" class="progress-bar iq-border-radius-10 bg-success" style="width: 40%;"> </div>
            <div role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="80" class="progress-bar iq-border-radius-10 bg-warning" style="width: 80%;"> </div>
            <div role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="50" class="progress-bar iq-border-radius-10 bg-danger" style="width: 50%;"> </div>
        </div>
    </div>
    <!---->
</div>
<style>
    .span-header{
        width: 80px; position: relative; display: block; line-height: initial; text-overflow: ellipsis; overflow: hidden;
    }
</style>
