<div class="folder">
    <div class="folder-summary">
        <div class="folder-summary__details" style="min-width: 100%;">
            <div class="row ns-block">
                <div class="col-1">
                    <div style="background:url({{item.PHOTO?'public/uploads/users/stagiaires/'+item.PHOTO:'public/uploads/default.png'}}); width: 100px; height: 100px; background-size: cover; background-repeat: no-repeat;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="folder-summary__details__name title-folder-header">

                        <h6 class="title-folder">
                            <span class="user-name">{{ item.PRENOM }}&nbsp;</span>
                        </h6>

                        <h6 class="title-folder">
                            <span class="user-name">{{ item.NOM }}</span>
                        </h6>


                        <div style="position: relative; float: right; display: flex;">

                            <button ng-if="!item.Add" ng-click="methods.Add(item.ID_APPRENANT)" class="folder-collapse-button btn-ns-folder" id="js_folder-collapse-button">
                                <i class="ri-add-line" style="position: relative; left: -3px; top: -3px;"></i> Ajouter
                            </button>
                            <button ng-if="item.Add" ng-click="methods.Emargement(item)" class="folder-collapse-button btn-ns-folder" id="js_folder-collapse-button">
                                <i class="ri-download-2-line" style="position: relative; left: -3px; top: -3px;"></i> Émargements
                            </button>
                            <button ng-if="item.Add" ng-click="methods.Delete(item.ID_APPRENANT)" class="folder-collapse-button btn-ns-folder" id="js_folder-collapse-button">
                                <i class="ri-delete-bin-line" style="position: relative; left: -3px; top: -3px;"></i> Supprimer
                            </button>

                        </div>
                    </div>
                </div>
                <div class="col-2" ng-if="item.Add">
                    <div class="folder-item__details__name"> Date debut </div>
                    <div class="folder-item__details__date">{{ item.NOM_ORGANISME }}</div>
                </div>
                <div class="col-2" ng-if="item.Add">
                    <div class="folder-item__details__name"> Date fin </div>
                    <div class="folder-item__details__date">{{ item.NOM_ORGANISME }}</div>
                </div>
                <div ng-class="item.Add?'col-2':'col-6'">
                    <div class="folder-item__details__name"> Email </div>
                    <div class="folder-item__details__date">{{ item.EMAIL }}</div>
                </div>
                <div ng-class="item.Add?'col-3':'col-6'">
                    <div class="folder-item__details__name"> Téléphone </div>
                    <div class="folder-item__details__date">{{ item.TELEPHONE }}</div>
                </div>
                <div class="col-3" ng-if="item.Add">
                    <div class="folder-item__details__name"> Session </div>
                    <div class="folder-item__details__date">{{ item.NOM_SESSION }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>

    span.user-name {
        text-transform: lowercase;
    }

    h6::first-letter{
        text-transform: uppercase;
    }


</style>
