<head>
    <base href="/">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title ng-bind="page_title">FormaCamp</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="resources/assets/images/fav.ico" />
    <!-- Bootstrap CSS -->
   <!-- <link rel="stylesheet" href="resources/assets/css/bootstrap.min.css">
    &lt;!&ndash; Typography CSS &ndash;&gt;
    <link rel="stylesheet" href="resources/assets/css/typography.css">
    &lt;!&ndash; Style CSS &ndash;&gt;
    <link rel="stylesheet" href="resources/assets/css/style.css">
    <link rel="stylesheet" href="resources/css/style.css">
    &lt;!&ndash; Responsive CSS &ndash;&gt;
    <link rel="stylesheet" href="resources/assets/css/responsive.css">
    &lt;!&ndash; Full calendar &ndash;&gt;
    <link href='resources/assets/fullcalendar/core/main.css' rel='stylesheet' />
    <link href='resources/assets/fullcalendar/daygrid/main.css' rel='stylesheet' />
    <link href='resources/assets/fullcalendar/timegrid/main.css' rel='stylesheet' />
    <link href='resources/assets/fullcalendar/list/main.css' rel='stylesheet' />
    <link rel="stylesheet" href="resources/assets/pickr/dist/themes/classic.min.css">

    &lt;!&ndash;    <link rel="stylesheet" href="../../../../cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">&ndash;&gt;

    <link href="node_modules/tui-calendar/dist/tui-calendar.min.css" rel="stylesheet" type="text/css" />
    <link href="node_modules/tui-date-picker/dist/tui-date-picker.min.css" rel="stylesheet" type="text/css" />
    <link href="node_modules/tui-time-picker/dist/tui-time-picker.min.css" rel="stylesheet" type="text/css" />


    <link href="node_modules/ui-select/dist/select.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="resources/assets/css/selectize.default.css">
    <link href="node_modules/angular-ui-notification/dist/angular-ui-notification.min.css" rel="stylesheet" type="text/css" />
    <link href="node_modules/bootstrap-sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css" />
    <link href="node_modules/angular-material/angular-material.min.css" rel="stylesheet" type="text/css" />-->
    <link rel="stylesheet" href="public/css/app.css">


</head>
