<div class="col-md-12" ng-controller="ListeDiplomesController">
    <div class="col-md-12 bg-white py-2 my-2">
        <div class="row">
            <div class="col-md-6">
                <div class="iq-search-bar">
                    <div class="searchbox" style="width: 100%">
                        <input type="text" class="text search-input" ng-change="infiniteLimit = 5"
                               placeholder="Recherche diplomes..."
                               ng-model="search">
                        <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <button ng-click="Add()" type="button" class="float-right btn btn-primary" >
                    <i class="ri-user-add-line mr-2"></i> Ajouter un diplome
                </button>
                <button type="button" class="float-right btn btn-light" style="cursor:auto">
                    <i class="ri-computer-line br-2"></i>
                    {{ searched.length }} diplomes
                </button>
            </div>
        </div>
    </div>


    <div infinite-scroll="loadMore()" class="row">
        <div class="col-md-4" ng-repeat="diplome in  searched = (liste_data|filter:search)| orderBy: '-DATE'| limitTo:infiniteLimit">
            <div class="iq-card" style="cursor: pointer;padding: 0;" >
                <div class="iq-card-body" style="box-shadow: 0 2px 8px #bcbcbc;border-radius: 15px;">
                    <div class="bg-primary p-3 rounded d-flex align-items-center justify-content-between mb-3" style="background-color: rgb(255 255 255 / 38%) !important;">
                        <h5 class="text-white">{{ diplome.NOM }}</h5>
                        <div>
                            <i style="cursor: pointer" tooltip-placement="top" uib-tooltip="Modifier" ng-click="$event.stopPropagation();Edit(diplome.ID_DIPLOME)" class="ri-ball-pen-line font-size-18" role="button" tabindex="0"></i>
                            <i style="cursor: pointer" tooltip-placement="top" uib-tooltip="Supprimer" ng-click="$event.stopPropagation();Delete(diplome.ID_DIPLOME)" class="ri-close-circle-line font-size-18 ml-2" role="button" tabindex="0"></i>
                        </div>

                    </div>
                    <!--                    <div class="row">-->
                    <!--                        <p class="font-size-12 mb-0 col-md-6"><b style="display: inline-flex;"><i class="ri-calendar-2-line mr-1"></i> Organisme</b><br><span class="span-header"></span>{{ lieu.NOM_ORGANISME }}</p>-->
                    <!--                        <p class="font-size-12 mb-0 col-md-6"><b style="display: inline-flex;"><i class="ri-community-line mr-1"></i> Email </b><br><span class="span-header"> {{ lieu.EMAIL }}</span></p>-->
                    <!--                        <p class="font-size-12 mb-0 col-md-6"><b style="display: inline-flex;"><i class="ri-community-line mr-1"></i> Téléphone </b><br><span class="span-header"> {{ lieu.TELEPHONE }}</span></p>-->
                    <!--                        <p class="font-size-12 mb-0 col-md-6"><b style="display: inline-flex;"><i class="ri-calendar-event-line mr-1"></i> Adresse service</b><br><span class="span-header">{{lieu.ADRESSE}}</span></p>-->
                    <!--                    </div>-->
                </div>

            </div>
        </div>

    </div>
<!--    <div  infinite-scroll="loadMore()">-->
<!--        <folder ng-repeat="diplome in  searched = (liste_data|filter:search)| orderBy: '-DATE'| limitTo:infiniteLimit" data="diplome" template-url="app/Modules/DiplomesModule/Resources/views/folder-diplomes.html"  methods="folderMethodes"></folder>-->
<!--    </div>-->

</div>
<style>
    .searchFilter.active{
        background: rgb(250 250 250) !important;
        color: rgb(0 0 0) !important;
        border: 1px solid #dbdbdb !important;
    }
</style>
